Source: libpfm
Section: devel
Priority: optional
Maintainer:  <eranian@hpl.hp.com>
Standards-Version: 3.2.1
Build-Depends: debmake

Package: libpfm-dev
Architecture: ia64
Depends: libpfm
Description: This package contains the all developments files for 
  the libpfm library which is used by performance monitoring 
  applications using the IA-64 Performance Monitor Unit (PMU). 
  This version supports both the Itanium and Itanium 2 processors.
  
Package: libpfm
Architecture: ia64
Depends: ${shlibs:Depends}
Description: This package contains a shared library for applications
 using the IA-64 Performance Monitor Unit (PMU). This version supports 
 both the Itanium and Itanium 2 processors.
 
