name: papi framework

on:
  pull_request:
    # run CI if framework receives an update excluding individual 
    # components and counter analysis toolkit
    paths-ignore:
      - 'src/components/*/**'
      - 'src/counter_analysis_toolkit/**'
  # allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # build PAPI with multiple components to simulate a users' workflow
  papi_components_comprehensive:
    strategy:
      matrix:
        components: [cuda nvml rocp_sdk amd_smi powercap powercap_ppc rapl infiniband sensors_ppc net appio io lustre stealtime coretemp lmsensors mx sde]
        debug: [yes, no]
        shlib: [with, without]
        hardware: [gpu_nvidia_w_cpu_intel]
      fail-fast: false
    runs-on: [self-hosted, cpu_intel, gpu_nvidia]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: comprehensive component tests 
        run: .github/workflows_scripts/ci_papi_framework.sh "${{matrix.components}}" ${{matrix.debug}} ${{matrix.shlib}} ${{matrix.hardware}}
  # build PAPI only with rocp_sdk and amd_smi components, as they will not be active in the above comprehensive job
  papi_components_amd:
    strategy:
      matrix:
        components: [rocp_sdk amd_smi]
        debug: [yes, no] 
        shlib: [with, without]
        hardware: [gpu_amd]
      fail-fast: false
    runs-on: [self-hosted, gpu_amd]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: rocp_sdk and amd_smi component tests
        run: .github/workflows_scripts/ci_papi_framework.sh "${{matrix.components}}" ${{matrix.debug}} ${{matrix.shlib}} ${{matrix.hardware}}
  # build PAPI only with the infiniband component, as it will not always be active in the above comrehensive job
  papi_component_infiniband:
    strategy:
      matrix:
        components: [infiniband]
        debug: [yes, no] 
        shlib: [with, without]
        hardware: [infiniband]
      fail-fast: false
    runs-on: [self-hosted, infiniband]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: infiniband component tests
        run: .github/workflows_scripts/ci_papi_framework.sh ${{matrix.components}} ${{matrix.debug}} ${{matrix.shlib}} ${{matrix.hardware}}
  papi_spack:
    runs-on: cpu
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Build/Test/Install via Spack
        run: .github/workflows_scripts/spack.sh
  papi_clang_analysis:
    runs-on: cpu
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Run static analysis
        run: .github/workflows_scripts/clang_analysis.sh clang-analysis-output
      - name: Archive analysis results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: always()
        with:
          name: clang-analysis-output
          path: src/clang-analysis-output
